  <div class="searchbar">
  <input type="text" placeholder="Search..">
</div>
<div class="grid grid-pad">
   <a *ngFor="let hero of heroes" class="col-1-4" 
      > 
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div>
<!-- <div style="text-align:left;width:500px;">
  <h1>
      {{ title }}
  </h1>

  <table *ngIf="arrBirds">
      
      <tr>
          <th>Order#</th>
              <th>Name of Client</th>
                  <th>Status</th>
      </tr>

      
      <tr *ngFor="let bird of arrBirds">
          <td>{{bird.ID}}</td>
              <td>{{bird.Name}}</td>
                  <td>{{bird.Type}}</td>
      </tr>
  </table>
</div> -->

<table *ngIf="data" class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
  <tr>
      <th style="width: 10%">
              Order Number
      </th>
      <th style="width: 10%">
          <mfDefaultSorter by="date">SubmitDate</mfDefaultSorter>
      </th>
      <th style="width: 10%">
          <mfDefaultSorter by="date">Customer Appt.Time</mfDefaultSorter>
      </th>
      <th style="width: 10%">State
    </th>
    <th style="width: 10%">Status
  </th>
  <th style="width: 10%">ClientF.Name
</th>
<th style="width: 10%">ClientL.Name
</th>
<th style="width: 10%">Language
</th>
<th style="width: 20%">LegalMatter
</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bird of mf.data">
      <td><nav><a routerLink="/detail">{{bird.ID}}</a></nav><router-outlet></router-outlet></td>
      <td>{{bird.SubmitDate}}</td>
      <td>{{bird.CustomerApptTime}}</td>
      <td>{{bird.State}}</td>
      <td>{{bird.Status}}</td>
      <td>{{bird.ClientFName}}</td>
      <td>{{bird.ClientLName}}</td>
      <td>{{bird.Language}}</td>
      <td>{{bird.LegalMatter}}</td>
  </tr>
  </tbody>
  <!-- <tfoot>
  <tr>
      <td>
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
  </tr>
  </tfoot> -->
</table>
