<div class="searchbar">
  <input type="text" placeholder="Search..">
</div>

<table *ngIf="data" class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
  <tr>
      <th style="width: 10%">
              Order Number
      </th>
      <th style="width: 10%">
          <mfDefaultSorter by="date">SubmitDate</mfDefaultSorter>
      </th>
      <th style="width: 10%">
          <mfDefaultSorter by="date">Customer Appt.Time</mfDefaultSorter>
      </th>
      <th style="width: 10%">State
    </th>
    <th style="width: 10%">Status
  </th>
  <th style="width: 10%">ClientF.Name
</th>
<th style="width: 10%">ClientL.Name
</th>
<th style="width: 10%">Language
</th>
<th style="width: 20%">LegalMatter
</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bird of mf.data">
      <td><nav><a routerLink="/details/{{bird.ID}}">{{bird.ID}}</a></nav><router-outlet></router-outlet></td>
      <td>{{bird.SubmitDate}}</td>
      <td>{{bird.CustomerApptTime}}</td>
      <td>{{bird.State}}</td>
      <td>{{bird.Status}}</td>
      <td>{{bird.ClientFName}}</td>
      <td>{{bird.ClientLName}}</td>
      <td>{{bird.Language}}</td>
      <td>{{bird.LegalMatter}}</td>
  </tr>
  </tbody>
</table>